<div class="projects">
  <div class="row">
    <!--1st-->
    <div class="col-xs-12 col-lg-4">
      <a href="http://gmgph.com/psecalculator/" target="_blank" class="project-link">
        <div class="tile">
          <div class="img psecalc">
              &nbsp;
          </div>
          <div class="content">
            <h2>PSE Calculator</h2>
            <p>An Angular 5 Application</p>
            <button class="btn btn-dark">VIEW</button>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="https://www.loans.com.au/landing-pages/other/online-services-app" target="_blank"  class="project-link">
            <div class="tile">
              <div class="img lcaLanding_A">
                  &nbsp;
              </div>
              <div class="content">
                <h2>Loans Smart Money Australia Landing Page</h2>
                <p>Kentico 10 based page. Landing page was built from scratch.</p>
                <button class="btn btn-dark">VIEW</button>
              </div>
            </div>
          </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.divenboard.com/" target="_blank"  class="project-link">
            <div class="tile">
              <div class="img divenb">
                  &nbsp;
              </div>
              <div class="content">
                <h2>DiveNBoard Travel and Tours</h2>
                <p>Created using Bootstrap and jQuery.</p>
                <button class="btn btn-dark">VIEW</button>
              </div>
            </div>
          </a>
    </div>
    <!--2nd-->
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.mugshotmanila.com/" target="_blank" class="project-link">
            <div class="tile">
              <div class="img msm">
                  &nbsp;
              </div>
              <div class="content">
                <h2>Mugshot Manila</h2>
                <p>Created using Wordpress. Custom template and styling.</p>
                <button class="btn btn-dark">VIEW</button>
              </div>
            </div>
          </a>
    </div>
    <div class="col-xs-12 col-lg-4">
        <a href="http://www.japorms.ca/" target="_blank"  class="project-link">
            <div class="tile">
              <div class="img japorms">
                  &nbsp;
              </div>
              <div class="content">
                <h2>Japorms</h2>
                <p>Site is using deconetwork. Just made restyling on it.</p>
                <button class="btn btn-dark">VIEW</button>
              </div>
            </div>
          </a>
    </div>
  </div>
</div>