<div class="contactResponse" [hidden]="!showContactResponse" (click)="closeContactResponse()">
  <div class="overlay-content">
    <i class="fa fa-times" style="cursor: pointer; text-align:right;display:block;" (click)="closeContactResponse()">&nbsp;</i>
    <h1>Thank you for your inquiry. I'll get back to you real quick!</h1>
  </div>
</div>
<div class="contact">
  <div class="row">
    <div class="col-lg-12">

      <form [formGroup]="contactForm" (ngSubmit)="sendInquiry()" class="ct-form">
        <!-- We add an additional check to see if the user has at least clicked on the form field before displaying the error -->
        <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['fullName'].valid && contactForm.controls['fullName'].touched}">
          <label>Full Name:</label>
          <input class="form-control" type="text" placeholder="Full Name" [formControl]="contactForm.controls['fullName']">
          <div *ngIf="contactForm.controls['fullName'].hasError('required') && contactForm.controls['fullName'].touched" class="alert alert-danger">Please fill up your complete name.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['contactNumber'].valid && contactForm.controls['contactNumber'].touched}">
          <label>Contact Number:</label>
          <input class="form-control" type="text" placeholder="Contact Number" [formControl]="contactForm.controls['contactNumber']">
          <div *ngIf="contactForm.controls['contactNumber'].hasError('required') && contactForm.controls['contactNumber'].touched"
          class="alert alert-danger">Please fill up your contact number.</div>
          <div *ngIf="contactForm.controls['contactNumber'].hasError('minlength') && contactForm.controls['contactNumber'].touched" class="alert alert-danger">Your contact number must be valid.</div>
          <div *ngIf="contactForm.controls['contactNumber'].hasError('maxlength') && contactForm.controls['contactNumber'].touched" class="alert alert-danger">Your contact number has exceeded the maximum allowed value.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['message'].valid && contactForm.controls['message'].touched}">
          <label>Message:</label>
          <textarea class="form-control" rows="5" [formControl]="contactForm.controls['message']"></textarea>
          <div *ngIf="contactForm.controls['message'].hasError('minlength') && contactForm.controls['message'].touched" class="alert alert-danger">Your message must be a minimum of 10 characters.</div>
          <div *ngIf="contactForm.controls['message'].hasError('maxlength') && contactForm.controls['message'].touched" class="alert alert-danger">Your message must not exceed 500 characters.</div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid"><span *ngIf="!isSendingInquiry">Send</span>
            <span *ngIf="isSendingInquiry">Sending...&nbsp;<i class="fa fa-circle-o-notch fa-spin"></i></span></button>
        </div>
      </form>
    </div>
  </div>
</div>