<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand" href="/">GMGPH</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="gg">GG</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="projects">Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container d-flex align-items-center justify-content-center">
  <router-outlet></router-outlet>
</div>